<h3 align="center">Cadastrar</h3>
<br />

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "well form-vertical"}) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label "E-mail", :class => "control-label" %>
    <div class="controls">
      <%= f.email_field :email, :class => "span3 required email" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Senha", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password, :class => "span3 required" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Confirmação de Senha", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => "span3 required" %>
    </div>
  </div>

  <%= f.submit "Cadastrar", :class => "btn" %>
<% end %>

<%= render "devise/shared/links" %>

<script type="text/javascript">
  $(document).ready(function(){
   
   $('#new_user').validate(
   {
    rules: {
      "user[email]": {
        minlength: 6,
        required: true
      },
      "user[password]": {
        minlength: 6,
        maxlength: 25,
        required: true
      },
      "user[password_confirmation]": {
        minlength: 6,
        maxlength: 25,
        required: true
      }
    }, 
    highlight: function(label) {
      $(label).closest('.control-group').addClass('error');
    },
    success: function(label) {
      label
        .text('OK!').addClass('valid')
        .closest('.control-group').addClass('success');
    }
   });

  });
</script>
