<%= form_for(@task, :html => {:class => "well form-vertical"}) do |f| %>
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@task.errors.count, "erro") %> encontrado(s):</h2>

        <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label 'Título', :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :title, :class => "span5 required" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Descrição da Tarefa', :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :description, :class => "span5 required", :rows => 3 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Categoria', :class => "control-label" %>
      <div class="controls">
        <%= f.select(:category_id , Category.where("user_id = ?", current_user.id).order(:title).map { |category| [category.title.upcase, category.id] }, { :include_blank => true }) %>
      </div>
    </div>

    <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= f.submit "Salvar", :class => "btn btn-primary" %>
    <%= link_to "Cancelar", :back, :class => "btn" %>

<% end %>

<script type="text/javascript">
  $(document).ready(function(){
   
   $('#new_task').validate(
   {
    rules: {
      "task[title]": {
        minlength: 5,
        required: true
      },
      "task[description]": {
        minlength: 10,
        required: true
      }
    }, 
    highlight: function(label) {
      $(label).closest('.control-group').addClass('error');
    },
    success: function(label) {
      label
        .text('OK!').addClass('valid')
        .closest('.control-group').addClass('success');
    }
   });

  });
</script>
