<ul class="breadcrumb">
  <li>
    <a href="/">Início</a> <span class="divider">/</span>
  </li>
  <li class="active">Tarefas</li>
</ul>

<% i = 1 %>
<div class="accordion" id="accordion2">
  <% @tasks.each do |task| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= task.id %>">
          <% if task.is_closed? %>
            <strike><%= i.to_s + ". " + task.title.upcase %></strike>
          <% else %>
            <%= i.to_s + ". " + task.title.upcase %>
          <% end %>
          <%= raw '<span class="label">Aberto</span>' if task.is_open? %>
          <%= raw '<span class="label label-success">Concluído</span>' if task.is_closed? %>
          <%= raw '<span class="label label-warning">Em execução</span>' if task.is_hold? %>
        </a>
      </div>
      <div id="collapse<%= task.id %>" class="accordion-body collapse">
        <div class="accordion-inner">
          <% if task.is_hold? %>
            <div style="font-size: 80%">Iniciada em: <%= task.start_date.to_s_br %></div>
          <% end %>
         <% if task.is_closed?  %>
            <div style="font-size: 80%">Iniciada em: <%= task.start_date.to_s_br %></div>
            <div style="font-size: 80%">Finalizada em: <%= task.date_of_completion.to_s_br %> (<%= task.time_spent_in_words %>) </div>
            <p><%= task.diff_between_not_to_date_of_completion %></p>
          <% end %>
          
          <div id="task_description" class="well">
            <%= task.description %>
          </div>

          <div class="btn-group">
            <%= link_to 'Pegar', hold_task_path(task), :class => "btn btn-warning" if task.is_open? %>
            <%= link_to 'Concluir', close_task_path(task), :class => "btn btn-success", :data => { :confirm => 'Confirma conclusão da tarefa?' } if task.is_hold? %>
            <%= link_to 'Reabrir', reopen_task_path(task), :class => "btn", :data => { :confirm => 'Confirma reabertura da tarefa?' } if task.is_closed? %>
            <%= link_to 'Editar', edit_task_path(task), :class => "btn" %>
            <%= link_to 'Apagar', task, :method => :delete, :data => { :confirm => 'Tem certeza?' }, :class => "btn" %>
          </div>

        </div>
      </div>
    </div>
    <% i += 1 %>
  <% end %>
</div> 