<ul class="breadcrumb">
  <li>
    <a href="/">Início</a> <span class="divider">/</span>
  </li>
  <li class="active">Tarefas</li>
</ul>

<div id="categories_filter">
  Filtrar Categoria: <br />
  <span id="category_link_all" class="category_link label"><%= link_to "\#TODAS", tasks_path + "?category=clear" %></span>
  <span id="category_link_none"class="category_link label"><%= link_to "\#SEM CATEGORIA", tasks_path + "?category=none" %></span>
  <% Category.all.each do |category| %>
    <span id="category_link_<%= category.id %>" class="category_link label"><%= link_to "#" + category.title.upcase, tasks_path + "?category=#{category.id}" %></span>
  <% end %>
</div>

<% i = 1 %>
<div class="accordion" id="accordion2">
  <% @tasks.each do |task| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= task.id %>">
          <% if task.is_closed? %>
            <strike><%= i.to_s + ". " + task.title.upcase %></strike>
          <% else %>
            <%= i.to_s + ". " + task.title.upcase %>
          <% end %>
          <%= raw '<span class="label">Aberto</span>' if task.is_open? %>
          <%= raw '<span class="label label-success">Concluído</span>' if task.is_closed? %>
          <%= raw '<span class="label label-warning">Em execução</span>' if task.is_hold? %>
        </a>
      </div>
      <% 
        expand_this = false
        if @expand_id
          if @expand_id == task.id
            expand_this = true
          end
        else
          if i == 1
            expand_this = true
          end
        end
      %>
      <div id="collapse<%= task.id %>" class="accordion-body collapse <%= raw "in" if expand_this %>">
        <div class="accordion-inner">
          <% if task.category %>
            <div style="font-size: 80%">Categoria: <%= task.category.title.upcase %></div>
          <% end %>
          <% if task.is_hold? %>
            <div style="font-size: 80%">Iniciada em: <%= task.start_date.to_s_br %></div>
          <% end %>
         <% if task.is_closed?  %>
            <div style="font-size: 80%">Iniciada em: <%= task.start_date.to_s_br %></div>
            <div style="font-size: 80%">Finalizada em: <%= task.date_of_completion.to_s_br %> (<%= task.time_spent_in_words %>) </div>
          <% end %>
          
          <div id="task_description" class="well">
            <%= task.description %>
          </div>

          <div class="btn-group">
            <%= link_to 'Pegar', hold_task_path(task), :class => "btn btn-warning" if task.is_open? %>
            <%= link_to 'Concluir', close_task_path(task), :class => "btn btn-success", :data => { :confirm => 'Confirma conclusão da tarefa?' } if task.is_hold? %>
            <%= link_to 'Reabrir', reopen_task_path(task), :class => "btn", :data => { :confirm => 'Confirma reabertura da tarefa?' } if task.is_closed? %>
            <%= link_to 'Editar', edit_task_path(task), :class => "btn" %>
            <%= link_to 'Apagar', task, :method => :delete, :data => { :confirm => 'Tem certeza?' }, :class => "btn" %>
          </div>

        </div>
      </div>
    </div>
    <% i += 1 %>
  <% end %>
</div> 

<script type="text/javascript">
  $(document).ready(function(){
    <% unless @category_selected %>
      $('#category_link_all').addClass('label-info').addClass('category_selected_link');
    <% else %>
      <% if @category_selected == "none" %>
        $('#category_link_none').addClass('label-info').addClass('category_selected_link');
      <% else %>
        $('#category_link_<%= @category_selected %>').addClass('label-info').addClass('category_selected_link');
      <% end %>
    <% end %>
  });
</script>