/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
  margin-top: 10px;
  margin-bottom: 10px;
 }

 label.valid {
  width: 24px;
  height: 24px;
  background: url(../images/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}

label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

#task_description {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px;
}

.table th, .table td {
  vertical-align: middle;
}

#categories_filter {
  margin-bottom: 12px;
  font-size: 85%;
}

.category_link {
  padding-right: 7px;
}

.category_link a {
  color: #000;
  text-shadow: none;
}

.category_selected_link a {
  color: #FFF;
  text-shadow: none;
}