<h3 align="center">Esqueceu sua senha?</h3>
<br />

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "well form-vertical" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label "E-mail", :class => "control-label" %>
    <div class="controls">
      <%= f.email_field :email, :class => "span3 required email" %>
    </div>
  </div>

  <%= f.submit "Enviar instrução para redefinição de senha", :class => "btn" %>
<% end %>

<%= render "devise/shared/links" %>

<script type="text/javascript">
  $(document).ready(function(){
   
   $('#new_user').validate(
   {
    rules: {
      "user[email]": {
        minlength: 6,
        required: true
      }
    }, 
    highlight: function(label) {
      $(label).closest('.control-group').addClass('error');
    },
    success: function(label) {
      label
        .text('OK!').addClass('valid')
        .closest('.control-group').addClass('success');
    }
   });

  });
</script>
