<h3 align="center">Entrar</h3>
<br />

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "well form-vertical"}) do |f| %>

  <div class="control-group">
    <%= f.label "E-mail", :class => "control-label" %>
    <div class="controls">
      <%= f.email_field :email, :class => "span3 required email" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Senha", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password, :class => "span3 required" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="control-group">
      <div class="controls">
        <label for="user_remember_me" class="checkbox">
        <%= f.check_box :remember_me %> Lembrar-me
        </label>
      </div>
    </div>
  <% end -%>

  <%= f.submit "Entrar", :class => "btn" %>

<% end %>

<%= render "devise/shared/links" %>

<script type="text/javascript">
  $(document).ready(function(){
   
   $('#new_user').validate(
   {
    rules: {
      "user[email]": {
        minlength: 6,
        required: true
      },
      "user[password]": {
        minlength: 6,
        maxlength: 25,
        required: true
      }
    }, 
    highlight: function(label) {
      $(label).closest('.control-group').addClass('error');
    },
    success: function(label) {
      label
        .text('OK!').addClass('valid')
        .closest('.control-group').addClass('success');
    }
   });

  });
</script>