<%= form_for(@category, :html => {:class => "well form-vertical"}) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <%= f.label 'Título', :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :title, :class => "span5 required" %>
      </div>
    </div>

    <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit "Salvar", :class => "btn" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
   
   $('#new_category').validate(
   {
    rules: {
      "category[title]": {
        minlength: 5,
        required: true
      }
    }, 
    highlight: function(label) {
      $(label).closest('.control-group').addClass('error');
    },
    success: function(label) {
      label
        .text('OK!').addClass('valid')
        .closest('.control-group').addClass('success');
    }
   });

  });
</script>
