<ul class="breadcrumb">
  <li>
    <a href="/">Início</a> <span class="divider">/</span>
  </li>
  <li class="active">Categorias</li>
</ul>

<table class="table table-striped table-condensed ">
  <tr>
    <th width="83%">Título</th>
    <th width="17%"></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.title.upcase %></td>
    <td class="table_buttons">
      <div class="btn-group">
        <%= link_to 'Editar', edit_category_path(category), :class => "btn" %>
        <%= link_to 'Apagar', category, :method => :delete, :data => { :confirm => 'Tem certeza?' }, :class => "btn" %>
      </div>
    </td>
  </tr>
<% end %>
</table>
