<!DOCTYPE html>
<html>
<head>
  <title>Tasks</title>
  <%= stylesheet_link_tag "bootstrap", "application" %>
  <%= javascript_include_tag :defaults, "bootstrap", "jquery.validate.min", "jquery_validation_messages" %>
  <%= csrf_meta_tags %>
  <style>
    .control-group {
      margin-bottom: 0px;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="offset3 span6">
      <h1 align="center">Controle de Tarefas </h1>
      <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="offset4 span4">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
